<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096301158406-ldlhek753eadch3lm1muc0inmju0gn35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096301158406-ldlhek753eadch3lm1muc0inmju0gn35</string>
	<key>API_KEY</key>
	<string>AIzaSyDrA8UBxYT3n02uFWY4tm61tRKOAhHEtF0</string>
	<key>GCM_SENDER_ID</key>
	<string>1096301158406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betaCard</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-app-b7cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-app-b7cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096301158406:ios:96144206ca07fe9e7ea387</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-sample-app-b7cc2.firebaseio.com</string>
</dict>
</plist>